<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>noVNC</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="app.js"></script>
</head>

<body>
  <div><div id="headerDiv">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Infonuagique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./idex.html">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./machine.html">Machine virtuelle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./login.html">Login</a>
              </li>
        </div>
      </nav>
</div>
    <h1>Liste des machines actives</h1>
    <ul>
      <!-- <li v-for="(container, i) in containers" :key="i">
        <a :href="container" class="machine">
          <img src="../assets/images/pc.png" alt="PC icon" />
          poste {{ i }}
        </a>
      </li> -->
    </ul>
  </div>
</body>

</html>

<template id="container">
  <li>
    <a class="machine">
      <img src="./assets/images/pc.png" alt="PC icon" />
      poste <span></span>
    </a>
  </li>
</template>